<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="fragments/header :: header">
  <title>페이지</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>


<div th:replace="fragments/body_header :: body_header" />

  <!-- [E]thwhole-enlPbA0Maj -->
  <main class="th-layout-main ">
    <!-- [S]personal-xJLpb9p9vd -->
    <div class="personal-xJLpb9p9vd" data-bid="GWLpbAQ6Fj">
      <div class="content-container">
        <div class="container-md">
          <ul class="step-list" ,="" style="width: 300px">
            <li class="step active">
              <span class="step-num">1</span>
              <p>정보입력</p>
            </li>
            <li class="step">
              <span class="step-num">2</span>
              <p>가입완료</p>
            </li>
          </ul>
          <div class="form-wrap">
            <form th:method="post" th:object="${userForm}">
              <div class="form-body">
                <fieldset class="fieldset">
                  <legend class="legend">NAME *</legend>
                  <div class="input-group">
                    <div class="inputset col inputset-line">
                      <input type="text" th:field="*{nickname}" class="inputset-input form-control" th:placeholder="*{nickname}" required>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div style="display: flex; justify-content: space-between;">
                    <div style="display: flex;">
                      <legend class="legend">ID *</legend>
                      <div class="input-group">
                        <p th:text="*{username}"></p>
                      </div>
                    </div>
                    <div class="selectset selectset-lg" style="width: 22rem; margin-left: 1rem;">
                      <button class="selectset-toggle btn" type="button">
                        <span id="selectedFuelType">권한 재설정</span>
                      </button>
                      <input type="hidden" id="hiddenFuelType" th:field="*{role}"/>
                      <ul class="selectset-list">
                        <li class="selectset-item" th:each="userRole : ${T(pg.provingground.domain.UserRole).values()}">
                          <button class="fuelType-select selectset-link time-select btn" type="button"
                                  th:text="${userRole.displayName}" th:attr="data-value=${userRole}">
                            <span></span>
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="fieldset">
                  <legend class="legend">PASSWORD *</legend>
                  <div class="input-group">
                    <div class="inputset col inputset-line">
                      <input type="password" th:field="*{password}" th:placeholder="*{password}" class="inputset-input form-control" required>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="fieldset">
                  <legend class="legend">PHONE NUMBER</legend>
                  <div class="input-group">
                    <div class="inputset col inputset-line">
                      <input type="text" th:field="*{phoneNum}" class="inputset-input form-control" th:placeholder="*{phoneNum}" required>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="form-footer btn-box" style="display: flex; justify-content: space-between;">
                <a class="btnset btnset-mono btnset-lg btnset-rect" href="/">취소</a>
                <!--<a class="btnset2 btnset-lg btnset-rect" href="javascript:void(0)">확인</a>-->

                <button type="submit" class="btnset btnset-lg btnset-mono btnset-line" style="height:5.5rem;">확인</button>
                <!--<button type="submit" class="btnset2 btnset-lg btnset-rect">확인</button>-->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]personal-xJLpb9p9vd -->
    <!-- [S]blank-ayLpNSWRQu -->
    <div class="blank-ayLpNSWRQu" data-bid="ayLpNSWRQu">
      <div class="container"></div>
    </div>
    <!-- [E]blank-ayLpNSWRQu -->
  </main>


<div th:replace="fragments/footer :: footer" />

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    document.querySelectorAll('.fuelType-select').forEach(button => {
      button.addEventListener('click', function() {
        const selectedFuelType = this.getAttribute('data-value');
        document.getElementById('hiddenFuelType').value = selectedFuelType;
        document.getElementById('selectedFuelType').textContent = this.textContent;
      });
    });
  });

</script>

<!-- [E]opilsol-N3 -->
  <script src="/js/setting.js"></script>
  <script src="/js/plugin.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/script.js"></script>
</body>