<!DOCTYPE HTML>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="fragments/header :: header">
    <title>페이지</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div th:replace="fragments/body_header :: body_header" />

<div th:replace="fragments/admin-menu :: admin-menu" />

<div th:replace="fragments/footer :: footer" />

<script src="../resources/js/setting.js"></script>
<script src="../resources/js/plugin.js"></script>
<script src="../resources/js/template.js"></script>
<script src="../resources/js/common.js"></script>
<script src="../resources/js/script.js"></script>
<script src="../resources/js/jquery-ui.min.js"></script>

</body>
</html>