<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <title>페이지</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div th:replace="fragments/body_header :: body_header" />

  <!-- [E]thwhole-enlPbA0Maj -->
  <main class="th-layout-main ">
    <!-- [S]blank-EwLpnPM3Jp -->
    <div class="blank-EwLpnPM3Jp" data-bid="EwLpnPM3Jp">
      <div class="container"></div>
    </div>
    <!-- [E]blank-EwLpnPM3Jp -->
    <!-- [S]thwhole-PYlPbA0mbO -->
    <div class="thwhole-PYlPbA0mbO" data-bid="PYlPbA0mbO" id="">
      <div class="content-container">
        <div class="container-md">
          <div class="textset">
            <h2 class="textset-tit">주행시험장 예약</h2>
            <p class="textset-desc h5">다양한 상황의 주행 시험을 위한 환경 제공</p>
          </div>
        </div>
        <div class="container-md">
          <div class="slide-container">
            <div class="swiper-wrapper">
              <!-- slide start -->
              <div class="swiper-slide" th:each="ground : ${grounds}">
                <a class="cardset cardset-border" href="javascript:void(0);">
                  <figure class="cardset-figure">
                    <img class="cardset-img" th:src="@{'/images/pv_img/' + ${ground.name} + '.jpg'}" alt="">
                  </figure>
                  <div class="cardset-body">
                    <h5 class="cardset-tit" th:text="${ground.name}">다목적 주행 코스</h5>
                    <p class="cardset-desc" th:text="${ground.description}">슬라럼, 짐카나 등 다양한 모듈로 구성되어 있는 코스로 드라이빙의 기본기부터 자동차의 가속 성능까지 종합적으로 경험할 수 있습니다.</p>
                    <span class="btnset btnset-text btnset-icon icon-right btnset-sm">예약하기</span>
                  </div>
                </a>
              </div>
              <!-- slide end -->
            </div>
          </div>
          <div class="swiper-control">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]thwhole-PYlPbA0mbO -->
  </main>


  <div th:replace="fragments/footer :: footer" />

  <!-- [E]thwhole-NaLpba0MCR -->
  <script src="/js/setting.js"></script>
  <script src="/js/plugin.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/script.js"></script>
</body>