<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="fragments/header :: header">
  <title>페이지</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

  <div th:replace="fragments/body_header :: body_header" />

  <!-- [E]thwhole-enlPbA0Maj -->
  <main class="th-layout-main ">
    <!-- [S]personal-JPlpB9msKO -->
    <div class="personal-JPlpB9msKO" data-bid="WgLPBa5YE9">
      <div class="content-container">
        <div class="form-wrap">
          <div class="form-header">
            <h3 class="form-tit">MY PAGE</h3>
          </div>

          <div class="form-body">
              <div class="tabset tabset-fluid border-bottom">
                <ul class="tabset-list tabset-lg">
                  <li class="tabset-item">
                    <a class="tabset-link active" href="javascript:void(0)">
                      <span>유저야</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="inputset inputset-line inputset-lg">
                <input type="text" th:field="*{username}" class="inputset-input form-control" placeholder="아이디" aria-label="ID">
              </div>
              <div class="inputset inputset-line inputset-lg">
                <input type="password" th:field="*{password}" class="inputset-input form-control" placeholder="비밀번호" aria-label="Password">
              </div>

              <div th:if="${#fields.hasGlobalErrors()}">
                <br/>
                <div th:each="error : ${#fields.globalDetailedErrors()}" th:text="${error}"></div>
              </div>

              <div class="contents-checkset d-flex justify-content-start">
                <div class="checkset">
                  <input id="checkset-c-3-1" class="checkset-input input-round" type="checkbox" value="" checked="">
                  <label class="checkset-label" for="checkset-c-3-1"></label>
                  <span class="checkset-text">자동 로그인</span>
                </div>
                <div class="checkset">
                  <input id="checkset-c-3-2" class="checkset-input input-round" type="checkbox" value="">
                  <label class="checkset-label" for="checkset-c-3-2"></label>
                  <span class="checkset-text">아이디 저장</span>
                </div>
              </div>
              <ul class="contents-list d-flex justify-content-center">
                <li class="contents-item">
                  <a href="javascript:void(0)" class="contents-link">회원가입</a>
                </li>
                <li class="contents-item">
                  <a href="javascript:void(0)" class="contents-link">아이디 찾기</a>
                </li>
                <li class="contents-item">
                  <a href="javascript:void(0)" class="contents-link">비밀번호 찾기</a>
                </li>
              </ul>
              <div class="btn-box juykim-btnbox" style="text-align:center;">
                <button class="btnset btnset-rect btnset-mono btnset-lg juykim-btn" type="submit" style="display:inline-block;">로그인</button>
              </div>



          </div>
        </div>
      </div>
    </div>
    <!-- [E]personal-JPlpB9msKO -->
    <!-- [S]blank-JiLPBA7i8u -->
    <div class="blank-JiLPBA7i8u" data-bid="JiLPBA7i8u">
      <div class="container"></div>
    </div>
    <!-- [E]blank-JiLPBA7i8u -->
  </main>
  <!-- [S]opilsol-N3 -->

  <div th:replace="fragments/footer :: footer" />

  <!-- [E]opilsol-N3 -->
  <script src="/js/setting.js"></script>
  <script src="/js/plugin.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/script.js"></script>
</body>