<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="fragments/header :: header">
  <title>페이지</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>


<div th:replace="fragments/body_header :: body_header" />

  <!-- [E]thwhole-enlPbA0Maj -->
  <main class="th-layout-main ">
    <!-- [S]personal-xJLpb9p9vd -->
    <div class="personal-xJLpb9p9vd" data-bid="GWLpbAQ6Fj">
      <div class="content-container">
        <div class="container-md">
          <ul class="step-list" ,="" style="width: 300px">
            <li class="step active">
              <span class="step-num">1</span>
              <p>정보입력</p>
            </li>
            <li class="step">
              <span class="step-num">2</span>
              <p>가입완료</p>
            </li>
          </ul>
          <div class="form-wrap">
            <form th:method="post" th:action="@{/join}" th:object="${joinForm}">
              <div class="form-body">
                <fieldset class="fieldset">
                  <legend class="legend">NAME *</legend>
                  <div class="input-group">
                    <div class="inputset col inputset-line">
                      <input type="text" th:field="*{nickname}" class="inputset-input form-control" placeholder="이름을 입력해주세요." aria-label="이름" required>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="fieldset">
                  <legend class="legend">ID *</legend>
                  <div class="input-group">
                    <div class="inputset inputset-line">
                      <input type="text" th:field="*{username}" class="inputset-input form-control"
                             placeholder="영문/숫자 조합의 5-12자로 입력해 주세요." aria-label="영문/숫자 조합의 5-12자로 입력해 주세요." required>
                    </div>
                    <button class="btnset btnset-rect btnset-mono btnset-lg" type="button">ID 중복확인</button>
                  </div>
                </fieldset>
                <fieldset class="fieldset">
                  <legend class="legend">PASSWORD *</legend>
                  <div class="input-group">
                    <div class="inputset col inputset-line">
                      <input type="password" th:field="*{password}" class="inputset-input form-control" placeholder="영문/숫자 조합의 8-15자로 입력해 주세요." aria-label="영문/숫자 조합의 8-15자로 입력해 주세요." required>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="fieldset">
                  <legend class="legend">CONFIRM PASSWORD *</legend>
                  <div class="input-group">
                    <div class="inputset col inputset-line">
                      <input type="password" th:field="*{passwordCheck}" class="inputset-input form-control" placeholder="영문/숫자 조합의 8-15자로 입력해 주세요." aria-label="영문/숫자 조합의 8-15자로 입력해 주세요." required>
                    </div>
                  </div>
                  <p class="description"> 비밀번호 내 연속되는 문자 또는 숫자는 3자리 이상 사용할 수 없습니다.</p>
                  <!-- <p class="description"> 특수문자를 포함하여 입력해주세요.</p> -->
                </fieldset>
                <fieldset class="fieldset">
                  <legend class="legend">PHONE NUMBER</legend>
                  <div class="input-group">
                    <div class="inputset col inputset-line">
                      <input type="text" th:field="*{phoneNum}" class="inputset-input form-control" placeholder="휴대전화 번호를 입력해 주세요. ex) 010-1234-5678" aria-label="휴대전화 번호" required>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="form-footer btn-box" style="display: flex; justify-content: space-between;">
                <a class="btnset btnset-mono btnset-lg btnset-rect" href="/">취소</a>
                <!--<a class="btnset2 btnset-lg btnset-rect" href="javascript:void(0)">확인</a>-->

                <button type="submit" class="btnset btnset-lg btnset-mono btnset-line" style="height:5.5rem;">확인</button>
                <!--<button type="submit" class="btnset2 btnset-lg btnset-rect">확인</button>-->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]personal-xJLpb9p9vd -->
    <!-- [S]blank-ayLpNSWRQu -->
    <div class="blank-ayLpNSWRQu" data-bid="ayLpNSWRQu">
      <div class="container"></div>
    </div>
    <!-- [E]blank-ayLpNSWRQu -->
  </main>


<div th:replace="fragments/footer :: footer" />

<script th:inline="javascript">
  /*<![CDATA[*/
  var errorMessage = /*[[${errorMessage}]]*/ 'default';
  if (errorMessage && errorMessage !== 'default') {
    alert(errorMessage);
  }
  /*]]>*/
</script>

<!-- [E]opilsol-N3 -->
  <script src="/js/setting.js"></script>
  <script src="/js/plugin.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/script.js"></script>
</body>