<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="ko">

<head th:replace="fragments/header :: header">
    <title>페이지</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div th:replace="fragments/body_header :: body_header" />

<div th:replace="fragments/admin-menu :: admin-menu" />


<!-- [E]thwhole-enlPbA0Maj -->
<main class="th-layout-main ">
    <!-- [S]personal-seLPF6Qg10 -->
    <div class="personal-seLPF6Qg10" data-bid="jYlPf6qsy6" id="">
        <div class="contents-inner">
            <div class="contents-container container-md">
                <div class="textset textset-h2">
                    <h2 class="h2">시험장 예약 목록</h2>
                </div>

                <div class="tableset">

                    <div class="tableset-inner">
                        <!-- 검색란 시작 -->
                        <form action="/admin/ground-rental/list" th:object="${groundRentalSearchForm}" method="get">
                            <div class="admin-search-area">
                                <div class="inputset">
                                    <input th:field="*{groundRentalId}" type="text" class="admin-car-rental-search inputset-input form-control" placeholder="예약 번호로 검색" aria-label="내용">
                                </div>
                                <div class="inputset">
                                    <input th:field="*{groundName}" type="text" class="admin-car-rental-search inputset-input form-control" placeholder="시험장 이름으로 검색" aria-label="내용">
                                </div>
                                <div class="inputset">
                                    <input type="hidden" th:field="*{startDate}" id="startDate">
                                    <input type="hidden" th:field="*{endDate}" id="endDate">
                                    <input name="dateRange" class="inputset-input form-control"
                                           id="dateRange">
                                </div>
                                <div class="inputset"><!-- TODO: Y/N 토글로 수정 필요 -->
                                    <input th:field="*{canceled}" type="text" class="admin-car-rental-search inputset-input form-control" placeholder="취소여부로 검색" aria-label="내용">
                                </div>
                                <div class="inputset">
                                    <input th:field="*{username}" type="text" class="admin-car-rental-search inputset-input form-control" placeholder="유저명으로 검색" aria-label="내용">
                                </div>

                                <button class="inputset-icon icon-right icon-search btn" type="submit" aria-label="아이콘" style="margin-top:2.4rem;"></button>
                            </div>

                        </form>

                        <!-- 위의 검색란 끝-->
                        <table class="tableset-table table">
                            <!-- 아래 있을 col의 속성 미리지정하는부분?-->
                            <colgroup>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                            <thead class="thead-border-top" style="text-align:center;">
                            <tr>
                                <th class="number" scope="col">NO</th>
                                <!-- 가로구분  -->
                                <th scope="col">시험장 이름</th>
                                <th scope="col">예약 일시</th>
                                <th scope="col">취소 여부</th>
                                <th scope="col">대여자 id</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- 목록 하나 시작 -->
                            <tr th:each="groundRental : ${groundRentalDtos}">
                                <td class="admin-list number" th:text="${groundRental.groundRentalId.toString()}">7</td>
                                <td class="admin-list"><p th:text="${groundRental.groundName}">차종</p></td>
                                <td class="admin-list last-child" th:text="${groundRental.startTime.toString()}">대여일</td>
                                <td class="admin-list last-child" th:text="${groundRental.canceled}">반납 여부</td>
                                <td class="admin-list last-child" th:text="${groundRental.username}">대여자 이름</td>
                            </tr>
                            <!-- 목록 하나 끝-->
                            </tbody>
                        </table>

                    </div>

                </div>


            </div>
        </div>
    </div>
    <!-- [E]personal-seLPF6Qg10 -->
</main>

<div th:replace="fragments/footer :: footer" />

<script src="/js/dateRangePicker.js"></script>
<script src="/js/setting.js"></script>
<script src="/js/plugin.js"></script>
<script src="/js/template.js"></script>
<script src="/js/common.js"></script>
<script src="/js/script.js"></script>
<script src="/js/jquery-ui.min.js"></script>

</body>
</html>