<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">


<head th:replace="fragments/header :: header">
  <title>페이지</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div th:replace="fragments/body_header :: body_header" />

  <!-- [E]thwhole-enlPbA0Maj -->
  <main class="th-layout-main ">
    <!-- [S]personal-xJLpb9p9vd -->
    <div class="personal-xJLpb9p9vd" data-bid="GWLpbAQ6Fj">
      <div class="content-container">
        <div class="container-md">
          <ul class="step-list" ,="" style="width: 300px">
            <li class="step active">
              <span class="step-num">1</span>
              <p>정보입력</p>
            </li>
            <li class="step">
              <span class="step-num">2</span>
              <p>가입완료</p>
            </li>
          </ul>
          <div class="form-wrap">

            <form method="post">

              <div class="form-body">

                <div class="juykim-car-search">
                  <select name="stationId"  id="stationSelect" class="selectset selectset-lg juykim-selectbox" onchange="selectBoxChange(this.value);">
                    <option th:each="station : ${stations}" th:value="${station.stationId}" th:text="${station.name}">주유구명</option>
                  </select>
                </div>
                <fieldset class="fieldset" style="margin-top:3rem;">
                  <legend class="legend">주유량 *</legend>
                  <div class="input-group">
                    <div class="inputset col inputset-line">
                      <input th:name="amount" type="text" class="inputset-input form-control" placeholder="주유량을 입력해 주세요" aria-label="주유량">
                    </div>
                  </div>
                </fieldset>

              </div>


              <div class="form-footer btn-box">
                <!-- <a href="/refuel/new" class="btnset btnset-lg btnset-mono btnset-line">
                  취소
                </a>-->
                  <!--<button class="btnset btnset-lg btnset-mono btnset-line juykim-fuel-cancel"
                          onclick="location.href='/refuel/new'">취소</button> -->
                <button type="submit" class="btnset btnset-lg btnset-mono btnset-line" href="javascript:void(0)">주유하기</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
    <!-- [E]personal-xJLpb9p9vd -->
    <!-- [S]blank-ayLpNSWRQu -->
    <div class="blank-ayLpNSWRQu" data-bid="ayLpNSWRQu">
      <div class="container"></div>
    </div>
    <!-- [E]blank-ayLpNSWRQu -->
  </main>
  <!-- [S]opilsol-N3 -->


  <div th:replace="fragments/footer :: footer" />

  <!-- [E]opilsol-N3 -->
  <script src="/js/setting.js"></script>
  <script src="/js/plugin.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/script.js"></script>
</body>