<!DOCTYPE html>
<html lang="ko">


<head th:replace="fragments/header :: header">
  <title>페이지</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div th:replace="fragments/body_header :: body_header" />
  <!-- [E]thwhole-enlPbA0Maj -->
  <main class="th-layout-main ">
    <!-- [S]personal-xJLpb9p9vd -->
    <div class="personal-xJLpb9p9vd" data-bid="GWLpbAQ6Fj">
      <div class="content-container">
        <div class="container-md">
          <ul class="step-list" ,="" style="width: 300px">
            <li class="step active">
              <span class="step-num">1</span>
              <p>정보입력</p>
            </li>
            <li class="step">
              <span class="step-num">2</span>
              <p>가입완료</p>
            </li>
          </ul>
          <div class="form-wrap">

            <form>


              <div class="form-body">

                <div class="juykim-car-search">
                  <select name="stationId" th:each="station : ${stations}" id="stationSelect" class="selectset selectset-lg juykim-selectbox" onchange="selectBoxChange(this.value);">
                    <option value="${station.stationdId} text="${station.name}">주유구명</option>
                  </select>
                </div>
                <fieldset class="fieldset">
                  <legend class="legend">주유량 *</legend>
                  <div class="input-group">
                    <div class="inputset col inputset-line">
                      <input type="password" class="inputset-input form-control" placeholder="주유량을 입력해 주세요." aria-label="영문/숫자 조합의 8-15자로 입력해 주세요.">
                    </div>
                  </div>
                </fieldset>

              </div>


              <div class="form-footer btn-box">
                <a class="btnset btnset-mono btnset-lg btnset-rect" href="javascript:void(0)">취소</a>
                <a class="btnset2 btnset-lg btnset-rect" href="javascript:void(0)">주유하기</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]personal-xJLpb9p9vd -->
    <!-- [S]blank-ayLpNSWRQu -->
    <div class="blank-ayLpNSWRQu" data-bid="ayLpNSWRQu">
      <div class="container"></div>
    </div>
    <!-- [E]blank-ayLpNSWRQu -->
  </main>
  <!-- [S]opilsol-N3 -->


  <div th:replace="fragments/footer :: footer" />

  <!-- [E]opilsol-N3 -->
  <script src="/js/setting.js"></script>
  <script src="/js/plugin.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/script.js"></script>
</body>