<!DOCTYPE HTML>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <title>페이지</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div th:replace="fragments/body_header :: body_header" />

  <!-- [E]thwhole-enlPbA0Maj -->
  <main class="th-layout-main ">
    <!-- [S]thwhole-pVlPbA0MBb -->
    <div class="thwhole-pVlPbA0MBb" data-bid="pVlPbA0MBb" id="">
      <div class="visual-container">
        <div class="visual-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img class="visual-bg" src="/images/visual-1.jpg" alt="메인배너-1">
              <div class="visual-text-box">
                <h2 class="visual-title" data-swiper-parallax="-700">
                  <span class="br">주행시험장 예약</span>
                  <br>
                  <span class="br">차량 대여 및 주유, 시험 결과 등록</span>
                </h2>
                <div class="visual-subtitle" data-swiper-parallax="-1000">
                  <span class="br">시험을 위한 차량 및 시험장 예약, 시험 결과 등록 및 내역 확인</span>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <img class="visual-bg" src="/images/visual-2.jpg" alt="메인배너-2">
              <div class="visual-text-box">
                <h2 class="visual-title" data-swiper-parallax="-700">
                  <span class="br">주행시험장 예약</span>
                  <br>
                  <span class="br">차량 대여 및 주유, 시험 결과 등록</span>
                </h2>
                <div class="visual-subtitle" data-swiper-parallax="-1300">
                  <span class="br">시험을 위한 차량 및 시험장 예약, 시험 결과 등록 및 내역 확인</span>
                </div>
              </div>
            </div>
            <!--
      <div class="swiper-slide">
        <img class="visual-bg" src="/images/visual-3.jpg" alt="메인배너-3">
        <div class="visual-text-box">
          <h2 class="visual-title" data-swiper-parallax="-700">
            <span class="br">미래를 지향하는</span> 젊은 기업
            <br>
            <span class="br">고객 만족도 향상을 위한</span> 솔루션 제공
          </h2>
          <div class="visual-subtitle" data-swiper-parallax="-1300">
            <span class="br">스포츠,레저 등 다양한 제품의 서비스로</span> 고객 만족을 향상시키기 위해
            최고의 솔루션을 제공합니다.
          </div>
        </div>
        -->
          </div>
        </div>
        <div class="control-wrap">
          <div class="pagination_fraction">
          </div>
          <div class="control-bottom">
            <div class="swiper-pagination"></div>
            <div class="swiper-button-pause">
              <img src="/icons/ico_pause.svg" alt="스와이퍼 멈춤버튼">
            </div>
            <div class="swiper-button-play" style="display: none;">
              <img src="/icons/ico_play.svg" alt="스와이퍼 재생버튼">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]thwhole-pVlPbA0MBb -->
    <!-- [S]opilsol-N6 -->
    <div class="opilsol-N6" data-bid="RylPba0mBZ" id="">
      <div class="content-container">
        <div class="container-md ">
          <div class="textset con-tit">
            <h2 class="textset-tit h1 ff-po">시험장 예약 및 차량 대여</h2>
            <p class="textset-desc">주행시험을 위한 시험장 예약 및 시험 진행 차량 대여 기능 제공</p>
          </div>
        </div>
        <div class="container-md">
          <div class="content-group odd">
            <figure class="img-box order-1">
              <img src="/images/m-sce2-img-1.jpg" alt="이미지">
            </figure>
            <div class="text-link-box order-2">
              <div class="textset">
                <h2 class="textset-tit h2">현대 / 기아 총 nn종의 차량 대여 지원</h2>
                <p class="textset-desc">회원 관리, 예약 관리, 결제 관리, 트레이닝 관리 등 <br> 다양한 기능을 제공하며 각 제품마다 특성과 장단점이 있으므로 선택 시 고려해야 할 사항이 많습니다. </p>
                <a class="btnset btnset-icon icon-right btnset-lg btnset-dark justify-content-between" href="javascript:void(0)">예약하기​<br></a>
              </div>
            </div>
          </div>
        </div>
        <div class="container-md">
          <div class="content-group even">
            <figure class="img-box order-2">
              <img src="/images/m-sce2-img-2.jpg" alt="이미지">
            </figure>
            <div class="text-link-box order-1">
              <div class="textset">
                <h2 class="textset-tit h2">
                  <span class="br">예약 관리 기능은</span> 간편하게 예약을 받을 수 있는 <br> 시스템을 제공
                </h2>
                <p class="textset-desc">회원 관리, 예약 관리, 결제 관리, 트레이닝 관리 등 <br> 다양한 기능을 제공하며 각 제품마다 특성과 장단점이 있으므로 선택 시 고려해야 할 사항이 많습니다. </p>
                <a class="btnset btnset-icon icon-right btnset-lg btnset-dark justify-content-between" href="javascript:void(0)">예약하기​<br></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]opilsol-N6 -->
    <!-- [S]thwhole-PYlPbA0mbO -->
    <div class="thwhole-PYlPbA0mbO" data-bid="PYlPbA0mbO" id="">
      <div class="content-container">
        <div class="container-md">
          <div class="textset">
            <h2 class="textset-tit">주행시험장 예약</h2>
            <p class="textset-desc h5">다양한 상황의 주행 시험을 위한 환경 제공</p>
          </div>
        </div>
        <div class="container-md">
          <div class="slide-container">
            <div class="swiper-wrapper">
              <!-- slide start -->
              <div class="swiper-slide">
                <a class="cardset cardset-border" href="javascript:void(0);">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="../medias/8e56549c92314e929f6e18aa9079e391.jpg" alt="">
                  </figure>
                  <div class="cardset-body">
                    <h5 class="cardset-tit">다목적 주행 코스</h5>
                    <p class="cardset-desc">슬라럼, 짐카나 등 다양한 모듈로 구성되어 있는 코스로 드라이빙의 기본기부터 자동차의 가속 성능까지 종합적으로 경험할 수 있습니다.</p>
                    <span class="btnset btnset-text btnset-icon icon-right btnset-sm">예약하기</span>
                  </div>
                </a>
              </div>
              <!-- slide end -->
              <div class="swiper-slide">
                <a class="cardset cardset-border" href="javascript:void(0);">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="../medias/34fdcd8dc7cb463ea7008be450a253c3.jpg" alt="">
                  </figure>
                  <div class="cardset-body">
                    <h5 class="cardset-tit">제동 코스</h5>
                    <p class="cardset-desc">다양한 노면과 상황 속에서 브레이크의 성능을 최대로 이끌어 내는 코스로 위급 상황 시 안전하게 대처하는 테크닉을 익힐 수 있습니다.</p>
                    <span class="btnset btnset-text btnset-icon icon-right btnset-sm">예약하기</span>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="cardset cardset-border" href="javascript:void(0);">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="../medias/227410a8371f4b46b6359ff3f045ce71.jpg" alt="">
                  </figure>
                  <div class="cardset-body">
                    <h5 class="cardset-tit">마른 노면 서킷</h5>
                    <p class="cardset-desc">3.4km, 16개의 코너로 구성된 서킷에서 드라이빙 스킬을 종합적으로 경험할 수 있는 코스입니다. 레벨에 따라 두 개의 코스로 나누어 경험할 수 있습니다.</p>
                    <span class="btnset btnset-text btnset-icon icon-right btnset-sm">예약하기</span>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="cardset cardset-border" href="javascript:void(0);">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="../medias/a0af0e50ca604c15889b35dcf71a5555.jpg" alt="">
                  </figure>
                  <div class="cardset-body">
                    <h5 class="cardset-tit">고속주회로</h5>
                    <p class="cardset-desc">38.87도의 뱅크각의 4.6km 오벌 트랙에서 자동차의 한계 속도와 극한의 중력 가속도를 체험할 수 있습니다.</p>
                    <span class="btnset btnset-text btnset-icon icon-right btnset-sm">예약하기</span>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="cardset cardset-border" href="javascript:void(0);">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="../medias/ae3073edec694c488ad10e9045970158.jpg" alt="">
                  </figure>
                  <div class="cardset-body">
                    <h5 class="cardset-tit">젖은 노면 서킷</h5>
                    <p class="cardset-desc">11개 코너, 1.6km의 젖은 서킷을 달리는 코스로 젖은 노면에서도 안전하게 자동차를 컨트롤하는 방법을 배울 수 있습니다.</p>
                    <span class="btnset btnset-text btnset-icon icon-right btnset-sm">예약하기</span>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="cardset cardset-border" href="javascript:void(0);">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="../medias/86fb17a6ee9d44509a673eab7e5f1c90.jpg" alt="">
                  </figure>
                  <div class="cardset-body">
                    <h5 class="cardset-tit">킥 플레이트 코스</h5>
                    <p class="cardset-desc">돌발 상황에 대처하는 능력을 키우는데 특화된 코스로 킥 플레이트의 인위적인 힘에 의해 불안정해진 차량을 안전하게 컨트롤하는 능력을 키울 수 있습니다.</p>
                    <span class="btnset btnset-text btnset-icon icon-right btnset-sm">예약하기</span>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="cardset cardset-border" href="javascript:void(0);">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="../medias/ccd4a2eab652422fbc507590065e0aab.jpg" alt="">
                  </figure>
                  <div class="cardset-body">
                    <h5 class="cardset-tit">젖은 원선회 코스</h5>
                    <p class="cardset-desc">서로 다른 노면 위에서 눈으로만 보았던 드리프트를 실제로 경험해보는 코스입니다. 카운터 스티어링을 비롯한 고급 기술을 경험할 수 있습니다.</p>
                    <span class="btnset btnset-text btnset-icon icon-right btnset-sm">예약하기</span>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="cardset cardset-border" href="javascript:void(0);">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="../medias/e6a71dff13c24a93840b3c082d2fa3ec.jpg" alt="">
                  </figure>
                  <div class="cardset-body">
                    <h5 class="cardset-tit">오프로드 코스</h5>
                    <p class="cardset-desc">보기만 해도 아찔한 구간를 통과하며 SUV의 내구성과 오프로드 성능을 체험하는 코스입니다. 언덕 경사, 모랫길, 계단 등 11가지 즐거운 장애물이 기다리고 있습니다.</p>
                    <span class="btnset btnset-text btnset-icon icon-right btnset-sm">예약하기</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-control">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]thwhole-PYlPbA0mbO -->
    <!-- [S]opilsol-N7 -->
    <div class="opilsol-N7" data-bid="DPLpBa0mC8" id="">
      <div class="sub-visual-bg">
        <img class="pc-img" src="/images/sub-visual.jpg" alt="이미지">
        <img class="mobile-img" src="/images/sub-visual-m.jpg" alt="이미지">
      </div>
      <div class="content-container">
        <div class="container-md">
          <div class="textset">
            <h2 class="textset-tit h1 ff-po co-text5">진행 시험 결과 기록</h2>
            <p class="textset-desc">진행한 주행 시험의 결과와 경로를 저장할 수 있습니다.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]opilsol-N7 -->
    <!-- [S]opilsol-N8 -->
    <div class="opilsol-N8" data-bid="ZxlPBA0Mcg">
      <div class="container-lg">
        <div class="content-container">
          <div class="left">
            <div class="textset">
              <h2 class="textset-tit h1 ff-po">Opil News</h2>
              <p class="textset-desc h5 fw-500">템플릿솔루션의 새로운 소식을 알려드립니다</p>
              <div class="swiper-control">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
              <div class="btnset-position">
                <a class="btnset btnset-icon btnset-lg icon-right btnset-dark justify-content-between" href="javascript:void(0)">자세히 보기</a>
              </div>
            </div>
          </div>
          <div class="right">
            <div class="slide-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a class="link-slide" href="javascript:void(0);">
                    <div class="cardset cardset-border">
                      <figure class="cardset-figure">
                        <img class="cardset-img" src="/images/m-sec3-img-1.jpg" alt="이미지">
                      </figure>
                      <div class="cardset-body">
                        <h5 class="cardset-tit">고객불만제로를 위한 집체교육을 실시하였습니다.</h5>
                        <p class="cardset-txt">2000-01-01</p>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a class="link-slide" href="javascript:void(0);">
                    <div class="cardset cardset-border">
                      <figure class="cardset-figure">
                        <img class="cardset-img" src="/images/m-sec3-img-2.jpg" alt="이미지">
                      </figure>
                      <div class="cardset-body">
                        <h5 class="cardset-tit">고객불만제로를 위한 집체교육을 실시하였습니다.</h5>
                        <p class="cardset-txt">2000-01-01</p>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a class="link-slide" href="javascript:void(0);">
                    <div class="cardset cardset-border">
                      <figure class="cardset-figure">
                        <img class="cardset-img" src="/images/m-sec3-img-3.jpg" alt="이미지">
                      </figure>
                      <div class="cardset-body">
                        <h5 class="cardset-tit">고객불만제로를 위한 집체교육을 실시하였습니다.</h5>
                        <p class="cardset-txt">2000-01-01</p>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a class="link-slide" href="javascript:void(0);">
                    <div class="cardset cardset-border">
                      <figure class="cardset-figure">
                        <img class="cardset-img" src="/images/m-sec3-img-1.jpg" alt="이미지">
                      </figure>
                      <div class="cardset-body">
                        <h5 class="cardset-tit">고객불만제로를 위한 집체교육을 실시하였습니다.</h5>
                        <p class="cardset-txt">2000-01-01</p>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a class="link-slide" href="javascript:void(0);">
                    <div class="cardset cardset-border">
                      <figure class="cardset-figure">
                        <img class="cardset-img" src="/images/m-sec3-img-2.jpg" alt="이미지">
                      </figure>
                      <div class="cardset-body">
                        <h5 class="cardset-tit">고객불만제로를 위한 집체교육을 실시하였습니다.</h5>
                        <p class="cardset-txt">2000-01-01</p>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a class="link-slide" href="javascript:void(0);">
                    <div class="cardset cardset-border">
                      <figure class="cardset-figure">
                        <img class="cardset-img" src="/images/m-sec3-img-3.jpg" alt="이미지">
                      </figure>
                      <div class="cardset-body">
                        <h5 class="cardset-tit">고객불만제로를 위한 집체교육을 실시하였습니다.</h5>
                        <p class="cardset-txt">2000-01-01</p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]opilsol-N8 -->
  </main>
  <div th:replace="fragments/footer :: footer" />

  <!-- [E]thwhole-NaLpba0MCR -->
  <script src="/js/setting.js"></script>
  <script src="/js/plugin.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/script.js"></script>
</body>