<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="fragments/header :: header">
  <title>페이지</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div th:replace="fragments/body_header :: body_header" />

  <!-- [E]thwhole-enlPbA0Maj -->
  <main class="th-layout-main ">
    <!-- [S]thwhole-pVlPbA0MBb -->
    <div class="thwhole-pVlPbA0MBb" data-bid="pVlPbA0MBb" id="">
      <div class="visual-container">
        <div class="visual-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img class="visual-bg" src="/images/visual-1.jpg" alt="메인배너-1">
              <div class="visual-text-box">
                <h2 class="visual-title" data-swiper-parallax="-700">
                  <span class="br">주행시험장 예약</span>
                  <br>
                  <span class="br">차량 대여 및 주유, 시험 결과 등록</span>
                </h2>
                <div class="visual-subtitle" data-swiper-parallax="-1000">
                  <span class="br">시험을 위한 차량 및 시험장 예약, 시험 결과 등록 및 내역 확인</span>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <img class="visual-bg" src="/images/visual-2.jpg" alt="메인배너-2">
              <div class="visual-text-box">
                <h2 class="visual-title" data-swiper-parallax="-700">
                  <span class="br">주행시험장 예약</span>
                  <br>
                  <span class="br">차량 대여 및 주유, 시험 결과 등록</span>
                </h2>
                <div class="visual-subtitle" data-swiper-parallax="-1300">
                  <span class="br">시험을 위한 차량 및 시험장 예약, 시험 결과 등록 및 내역 확인</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="control-wrap">
          <div class="pagination_fraction">
          </div>
          <div class="control-bottom">
            <div class="swiper-pagination"></div>
            <div class="swiper-button-pause">
              <img src="/icons/ico_pause.svg" alt="스와이퍼 멈춤버튼">
            </div>
            <div class="swiper-button-play" style="display: none;">
              <img src="/icons/ico_play.svg" alt="스와이퍼 재생버튼">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]opilsol-N8 -->
  </main>
  <div th:replace="fragments/footer :: footer" />

  <!-- [E]thwhole-NaLpba0MCR -->
<script th:inline="javascript">
  /*<![CDATA[*/
  var errorMessage = /*[[${errorMessage}]]*/ 'default';
  if (errorMessage && errorMessage !== 'default') {
    alert(errorMessage);
  }
  /*]]>*/
</script>
  <script src="/js/setting.js"></script>
  <script src="/js/plugin.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/script.js"></script>
</body>