<!DOCTYPE html>
<html lang="ko">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<head th:replace="fragments/header :: header">
  <title>페이지</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div th:replace="fragments/body_header :: body_header" />

  <div style="height:10rem;"></div>
  <main class="th-layout-main ">
    <!-- [S]opilsol-N11 -->
    <div class="opilsol-N11" data-bid="hLlPPF62pn">
      <div class="content-container">
        <div class="container-md">

          <!-- 컨트롤러에서 받아온 unavailableTimes를 data-unavailable-date-times 속성으로 전달 -->
          <div id="availableDateTimes" th:attr="data-available-date-times=${availableTimes}"></div>


          <form th:object="${form}" method="post">
            <div class="content-group" style="height:80rem;">
              <!--start-->
              <div class="juykim-leftbox">
                <div class="juykim-step-text">

                  <h3 class="h3">STEP2. 대여 날짜 정하기</h3>
                  <!-- 달력 들어갈 박스 -->
                  <div class="juykim-calendarbox">
                    <div>
                      <div class="datepicker rental-datepicker"></div>
                    </div>

                    <script th:inline="javascript">

                      $(function(){

                        var availableTimes = [[${availableTimes}]];
                        var pathArray = window.location.pathname.split('/');
                        var carTypeId = pathArray[pathArray.length - 1];  // URL의 마지막 부분이 carTypeId


                        $.datepicker.setDefaults({ dateFormat: 'yy-mm-dd' });

                        $('.datepicker').datepicker(
                          {
                            dateFormat: 'yy-mm-dd',
                            maxDate: '30',
                            minDate: '1',
                            onSelect: function(dateText, inst) {
                              // 모든 날짜 셀의 배경색을 초기화
                              $('.ui-state-active').css('backgroundColor', '');

                              // 선택한 날짜 셀의 배경색을 변경
                              setTimeout(function() {
                                $('.ui-state-active').css('backgroundColor', '#D8D8D8');
                              }, 0);

                              // 날씨 받아오기
                              getWeather(36.64814165006173, 126.34361596924717, dateText);

                              $.ajax({
                                url: '/car-rental/select/' + carTypeId + '/date', // 서버에 요청할 URL
                                type: 'get',
                                data: { date: dateText }, // 선택된 날짜를 서버에 전달
                                success: function(data) {
                                  // 서버로부터 받은 정보를 html에 표시
                                  var timesHtml = data.availableTimes.map(function(time) {
                                    return '<label class="time-btn">' +
                                            '<input type="radio" name="selectedTime" value="' + time + '">' +
                                            '<span>' + time + ':00</span>' +
                                            '</label>';
                                  }).join('');

                                  $('.juykim-timebtnbox').html(timesHtml);
                                  // ...
                                },

                                error: function(error) {
                                  console.error(error);
                                }
                              });

                              // 선택한 날짜를 페이지에 출력
                              $('#selectedDateDisplay').text(dateText);

                              $("#selectedDate").val(dateText);

                            }
                          });

                      })
                    </script>

                  </div>
                </div>
              </div>
              <div class="juykim-rightbox">
                <div class="juykim-step-text">
                  <h3 class="h3">STEP3. 대여 시간 정하기</h3>
                </div>
                <div class="juykim-timebox">
                  <h4 class="h4 juykim-date-text" id="selectedDateDisplay">날짜를 선택해 주세요.</h4>
                  <hr style="border: none; border-top: 1px solid gray;">
                  <input type="hidden" id="selectedDate" name="selectedDate" th:value="${form.selectedDate}">

                  <div class="juykim-timebtnbox">

                  </div>
                </div>
                <div class="juykim-weatherbox">
                  <div class="morningTemp">
                  </div>
                  <div class="morningDesc">
                  </div>

                  <div class="afternoonTemp">
                  </div>
                  <div class="afternoonDesc">
                  </div>

                </div>
                <div class="juykim-date-confirm">
                  <div class="juykim-rental-in-wrapper">
                    <p class="p1" style="text-align: right;">선택 차량<br></p>
                    <p class="p1" th:text="${type.getName()}">선택 차종 출력<br></p>
                  </div>
                  <!--  아래 버튼 원래 button이었던걸 submit으로 바꿈 -->
                  <button type="submit" class="btnset btnset-lg btnset-mono btnset-line">대여하기</button>
                </div>
              </div>
              <!--end-->
            </div>

          </form>
        </div>

      </div>
    </div>
    <!-- [E]opilsol-N11 -->
  </main>

  <div th:replace="fragments/footer :: footer" />

  <script src="/js/weather.js"></script>
  <script src="/js/setting.js"></script>
  <script src="/js/plugin.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/script.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
</body>