<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="ko">

<head th:replace="fragments/header :: header">
    <title>페이지</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div th:replace="fragments/body_header :: body_header" />

<div th:replace="fragments/admin-menu :: admin-menu" />


<!-- [E]thwhole-enlPbA0Maj -->
<main class="th-layout-main ">
    <!-- [S]personal-seLPF6Qg10 -->
    <div class="personal-seLPF6Qg10" data-bid="jYlPf6qsy6" id="">
        <div class="contents-inner">
            <div class="contents-container container-md">
                <div class="textset textset-h2">
                    <h2 class="h2">주유 내역</h2>
                </div>

                <div class="tableset">

                    <div class="tableset-inner">
                        <!-- 검색란 시작 -->
                        <form th:object="${refuelSearchForm}" method="get">
                            <div class="admin-search-area">
                                <div class="inputset">
                                    <input th:field="*{refuelId}" type="text" class="admin-car-rental-search inputset-input form-control" placeholder="주유번호로 검색" aria-label="내용">
                                </div>
                                <div class="inputset">
                                    <input th:field="*{stationName}" type="text" class="admin-car-rental-search inputset-input form-control" placeholder="주유구 이름으로 검색" aria-label="내용">
                                </div>
                                <div class="inputset">
                                    <input type="hidden" th:field="*{startDate}" id="startDate">
                                    <input type="hidden" th:field="*{endDate}" id="endDate">
                                    <input name="dateRange" class="inputset-input form-control"
                                           id="dateRange">
                                </div>
                                <div class="inputset">
                                    <input th:field="*{fuelType}" type="text" class="admin-car-rental-search inputset-input form-control" placeholder="연료 타입으로 검색" aria-label="내용">
                                </div>
                                <div class="inputset">
                                    <input th:field="*{carName}" type="text" class="admin-car-rental-search inputset-input form-control" placeholder="차량이름으로 검색" aria-label="내용">
                                </div>
                                <div class="inputset">
                                    <input th:field="*{carNumber}" type="text" class="admin-car-rental-search inputset-input form-control" placeholder="차량 번호로 검색" aria-label="내용">
                                </div>

                                <button class="inputset-icon icon-right icon-search btn" type="submit" aria-label="아이콘" style="margin-top:2.4rem;"></button>
                            </div>

                        </form>

                        <!-- 위의 검색란 끝-->
                        <table class="tableset-table table">
                            <!-- 아래 있을 col의 속성 미리지정하는부분?-->
                            <colgroup>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                            <thead class="thead-border-top" style="text-align:center;">
                            <tr>
                                <th class="number" scope="col">NO</th>
                                <!-- 가로구분  -->
                                <th scope="col">주유구</th>
                                <th scope="col">주유일시</th>
                                <th scope="col">연료 타입</th>
                                <th scope="col">차량 이름</th>
                                <th scope="col">차량 번호</th>
                                <th scope="col">주유량</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- 목록 하나 시작 -->
                            <tr th:each="refuel : ${refuelDtos}">
                                <td class="admin-list number" th:text="${refuel.refuelingId.toString()}">7</td>
                                <td class="admin-list"><p th:text="${refuel.stationName}">주유구명</p></td>
                                <td class="admin-list"><p th:text="${refuel.time}">주유일시</p></td>
                                <td class="admin-list last-child" th:text="${refuel.fuelType.toString()}">연료타입</td>
                                <td class="admin-list last-child" th:text="${refuel.carName}">차량이름</td>
                                <td class="admin-list last-child" th:text="${refuel.carNumber}">차량번호</td>
                                <td class="admin-list last-child" th:text="${refuel.amount}">주유량</td>
                            </tr>
                            <!-- 목록 하나 끝-->
                            </tbody>
                        </table>

                    </div>

                </div>


            </div>
        </div>
    </div>
    <!-- [E]personal-seLPF6Qg10 -->
</main>

<div th:replace="fragments/footer :: footer" />

<script src="/js/dateRangePicker.js"></script>
<script src="/js/setting.js"></script>
<script src="/js/plugin.js"></script>
<script src="/js/template.js"></script>
<script src="/js/common.js"></script>
<script src="/js/script.js"></script>
<script src="/js/jquery-ui.min.js"></script>

</body>
</html>