<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>차량 선택 | 페이지</title>
  <link rel="stylesheet" href="/css/setting.css">
  <link rel="stylesheet" href="/css/plugin.css">
  <link rel="stylesheet" href="/css/template.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <!-- [S]thwhole-enlPbA0Maj -->
  <header class="thwhole-enlPbA0Maj" data-bid="enlPbA0Maj" id="">
    <div class="header-container container-lg">
      <div class="header-left">
        <h1 class="header-title">
          <a href="javascript:void(0)">
            <img src="/images/img_logo_white.png" alt="로고">
          </a>
        </h1>
      </div>
      <div class="header-center">
        <ul class="header-member">
          <li>
            <a href="javascript:void(0)">로그인</a>
          </li>
          <li>
            <a href="javascript:void(0)">회원가입</a>
          </li>
        </ul>
        <ul class="header-gnblist">
          <li class="header-gnbitem">
            <a class="header-gnblink" href="javascript:void(0)">
              <span>소개</span>
            </a>
            <ul class="header-sublist">
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>시설 안내</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>주행시험장</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>차량</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">오시는 길</a>
              </li>
            </ul>
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" href="javascript:void(0)">
              <span>시험장 예약</span>
            </a>
            <ul class="header-sublist">
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>시험장 예약</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span contenteditable="true">예약 내역</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                </a>
              </li>
              <li class="header-subitem">
              </li>
            </ul>
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" href="javascript:void(0)">
              <span>차량 대여</span>
            </a>
            <ul class="header-sublist">
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>차량 대여</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>대여 내역</span>
                </a>
              </li>
              <li class="header-subitem">
              </li>
              <li class="header-subitem">
              </li>
            </ul>
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" href="javascript:void(0)">
              <span>시험 내역</span>
            </a>
            <ul class="header-sublist">
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>시험 내역 확인</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>시험 결과 등록</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" href="javascript:void(0)">
              <span contenteditable="true">주유</span>
            </a>
            <ul class="header-sublist">
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>주유하기</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>주유 내역​<br></span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="header-right">
        <div class="header-utils">
          <button class="btn-search">
            <img src="/icons/ico_search_white.svg" alt="검색">
          </button>
          <button class="btn-user">
            <img src="/icons/ico_user_white.svg" alt="마이페이지">
          </button>
          <button class="btn-allmenu">
            <img src="/icons/ico_menu3_white.svg" alt="PC메뉴">
          </button>
          <button class="btn-momenu">
            <img src="/icons/ico_menu3_white.svg" alt="모바일메뉴">
          </button>
          <button class="btn-moclose">
            <img src="/icons/ico_close_black.svg" alt="닫기">
          </button>
        </div>
      </div>
    </div>
    <div class="header-fullmenu fullmenu-top">
      <div class="fullmenu-wrapper">
        <div class="fullmenu-head">
          <h4 class="fullmenu-title">
            <a href="javascript:void(0)">
              <img src="/images/img_logo_black.png" alt="로고">
            </a>
          </h4>
          <ul class="fullmenu-member">
            <li>
              <a href="javascript:void(0)">로그인</a>
            </li>
            <li>
              <a href="javascript:void(0)">회원가입</a>
            </li>
          </ul>
        </div>
        <ul class="fullmenu-gnblist">
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0)">
              <span>소개</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>주행시험장 안내</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>시험장</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>차량</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>오시는 길</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0)">
              <span>시험장 예약</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>시험장 예약</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>예약 내역</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>-</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>-</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0)">
              <span>차량 대여</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>차량 대여</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>대여 내역</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>-</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>-</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0)">
              <span>시험 내역</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>시험 내역 확인</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>시험 결과 등록</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0)">
              <span>주유</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>주유</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>주유 내역</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <button class="fullmenu-close">
        <img src="/icons/ico_close_black.svg" alt="닫기">
      </button>
    </div>
    <div class="header-search fullmenu-top">
      <div class="fullmenu-wrapper">
        <div class="fullmenu-head">
          <h4 class="fullmenu-title">
            <a href="javascript:void(0)">
              <img src="/images/img_logo_black.png" alt="로고">
            </a>
          </h4>
        </div>
        <div class="header-search-wrap">
          <div class="container-md">
            <div class="header-search-form">
              <div class="inputset inputset-line">
                <button class="icon-right icon-search btn" type="button" aria-label="아이콘">
                </button>
                <input type="text" class="inputset-input form-control" placeholder="검색어를 입력해주세요." aria-label="내용">
              </div>
            </div>
            <div class="recom-list">
              <h5 class="recom-tit">추천 검색어</h5>
              <ul>
                <li>
                  <a href="#n">솔루션</a>
                </li>
                <li class="on">
                  <a href="#n">아파트 커뮤니티</a>
                </li>
                <li>
                  <a href="#n">플랫폼</a>
                </li>
                <li>
                  <a href="#n">스포츠센터</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <button class="fullmenu-close">
        <img src="/icons/ico_close_black.svg" alt="닫기">
      </button>
    </div>
  </header>
  <!-- [E]thwhole-enlPbA0Maj -->
  <main class="th-layout-main ">
    <!-- [S]personal-seLPF6Qg10 -->
    <div class="personal-seLPF6Qg10" data-bid="jYlPf6qsy6" id="">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="textset textset-h2">
            <h2 class="h2">STEP 1. 차량 선택</h2>
          </div>
          <div class="contents-search">
            <div class="juykim-car-search">
              <div class="selectset selectset-lg">
                <button class="selectset-toggle btn" type="button">
                  <span>차종</span>
                </button>
                <ul class="selectset-list">
                  <li class="selectset-item">
                    <button class="selectset-link btn" type="button" data-value="템플릿1">
                      <span>템플릿1</span>
                    </button>
                  </li>
                  <li class="selectset-item">
                    <button class="selectset-link btn" type="button" data-value="템플릿2">
                      <span>템플릿2</span>
                    </button>
                  </li>
                  <li class="selectset-item">
                    <button class="selectset-link btn" type="button" data-value="템플릿3">
                      <span>템플릿3</span>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
            <div class="juykim-car-search">
              <div class="selectset selectset-lg">
                <button class="selectset-toggle btn" type="button">
                  <span>엔진</span>
                </button>
                <ul class="selectset-list">
                  <li class="selectset-item">
                    <button class="selectset-link btn" type="button" data-value="템플릿1">
                      <span>템플릿1</span>
                    </button>
                  </li>
                  <li class="selectset-item">
                    <button class="selectset-link btn" type="button" data-value="템플릿2">
                      <span>템플릿2</span>
                    </button>
                  </li>
                  <li class="selectset-item">
                    <button class="selectset-link btn" type="button" data-value="템플릿3">
                      <span>템플릿3</span>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
            <!-- 차종/엔진으로 검색할 버튼 삽입 -->
            <div class="juykim-search-button">
              <button class="inputset-icon icon-right icon-search btn" type="button" aria-label="아이콘"></button>
            </div>
            <div class="juykim-car-search"></div>
            <div class="inputset">
              <button class="inputset-icon icon-right icon-search btn" type="button" aria-label="아이콘"></button>
              <input type="text" class="inputset-input form-control" placeholder="검색어를 입력해주세요." aria-label="내용">
            </div>
          </div>
          <!-- 리스트 시작 -->
          <div class="contents-group">
            <div class="juykim-contents-wrap">
              <div class="contents-cardlist contents-cardlist-active">
                <!-- 목록 하나 시작 -->
                <a href="javascript:void(0)" class="cardset cardset-hor">
                  <figure class="cardset-figure">
                    <img class="cardset-img" src="../medias/1a667417f7034089a7285619ceaae2f5.jpg" alt="">
                  </figure>
                  <!-- 그림 오른쪽의 내용 -->
                  <div class="cardset-body">
                    <!-- 공지사항 및 제목 -->
                    <div class="cardset-tit-group">
                      <h3 class="cardset-tit" style="font-size: 2.5rem;"> 더 뉴 아반떼 N </h3>
                    </div>
                    <hr class="juykim-underline">
                    <!-- 글 내용 -->
                    <p class="cardset-desc"> 복합 연비 : ~10.6km/l | 배기량 : ~1,998cc </p>
                    <p class="cardset-text"> 더 낮아지고 와이드해진 디자인에 역동적인 디테일과 강력한 컬러. 고성능 퍼포먼스의 인테리어 컨셉 구현 </p>
                    <!-- 날짜 -->
                  </div>
                </a>
                <!-- 목록 하나 끝 -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]personal-seLPF6Qg10 -->
  </main>
  <!-- [S]opilsol-N3 -->
  <div class="opilsol-N3" data-bid="nxlPbEdk5U">
    <div class="pc-footer">
      <div class="footer-wrapper">
        <div class="footer-container">
          <ul class="footer-menulist">
            <li class="footer-menuitem">
              <a href="javascript:void(0)">
                <span>이용약관</span>
              </a>
            </li>
            <li class="footer-menuitem">
              <a href="javascript:void(0)">
                <span>개인정보처리방침</span>
              </a>
            </li>
            <li class="footer-menuitem">
              <a href="javascript:void(0)">
                <span>푸터메뉴1</span>
              </a>
            </li>
            <li class="footer-menuitem">
              <a href="javascript:void(0)">
                <span>푸터메뉴2</span>
              </a>
            </li>
          </ul>
          <ul class="footer-snslist">
            <li class="footer-snsitem">
              <a class="footer-snslink" href="javascript:void(0)">
                <img src="/icons/ico_instagram_lightgrey.svg" alt="인스타그램">
              </a>
            </li>
            <li class="footer-snsitem">
              <a class="footer-snslink" href="javascript:void(0)">
                <img src="/icons/ico_youtube_lightgrey.svg" alt="유튜브">
              </a>
            </li>
            <li class="footer-snsitem">
              <a class="footer-snslink" href="javascript:void(0)">
                <img src="/icons/ico_facebook_lightgrey.svg" alt="페이스북">
              </a>
            </li>
            <li class="footer-snsitem">
              <a class="footer-snslink" href="javascript:void(0)">
                <img src="/icons/ico_kakao_lightgrey.svg" alt="카카오톡">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-wrapper">
        <div class="footer-container">
          <div class="footer-left">
            <h1 class="footer-logo">
              <a href="javascript:void(0)">
                <img src="/images/img_logo_footer.png" alt="로고">
              </a>
            </h1>
            <div class="footer-txtgroup">
              <div class="footer-txt">
                <p> 서울시 영등포구 선유로70 우리벤처타운2 705호 </p>
                <p>
                  <span>T. 070-8872-8874</span>
                  <span>E. help@openfield.co.kr</span>
                </p>
              </div>
              <div class="footer-txt">
                <p>2022 BY TEMPLATEHOUSE. ALL RIGHTS RESEVED</p>
              </div>
            </div>
          </div>
          <div class="selectset selectset-sm">
            <button class="selectset-toggle btn" type="button">
              <span>Family Site</span>
            </button>
            <ul class="selectset-list">
              <li class="selectset-item">
                <button class="selectset-link btn" type="button" data-value="Family Site">
                  <span>Family Site</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-footer">
      <div class="footer-wrapper">
        <div class="footer-container container-md">
          <div class="footer-left">
            <h1 class="footer-logo">
              <a href="javascript:void(0)">
                <img src="/images/img_logo_footer.png" alt="로고">
              </a>
            </h1>
            <div class="footer-content">
              <ul class="footer-menulist">
                <li class="footer-menuitem">
                  <a href="javascript:void(0)">
                    <span>이용약관</span>
                  </a>
                </li>
                <li class="footer-menuitem">
                  <a href="javascript:void(0)">
                    <span>개인정보처리방침</span>
                  </a>
                </li>
                <li class="footer-menuitem">
                  <a href="javascript:void(0)">
                    <span>푸터메뉴1</span>
                  </a>
                </li>
                <li class="footer-menuitem">
                  <a href="javascript:void(0)">
                    <span>푸터메뉴2</span>
                  </a>
                </li>
              </ul>
              <div class="footer-txtgroup">
                <div class="footer-txt">
                  <p> 서울시 영등포구 선유로70 우리벤처타운2 705호 </p>
                  <p>
                    <span>T. 070-8872-8874</span>
                    <span>E. help@openfield.co.kr</span>
                  </p>
                </div>
                <div class="footer-txt">
                  <p>2022 BY TEMPLATEHOUSE. ALL RIGHTS RESEVED</p>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-right">
            <ul class="footer-snslist">
              <li class="footer-snsitem">
                <a class="footer-snslink" href="javascript:void(0)">
                  <img src="/icons/ico_instagram_lightgrey.svg" alt="인스타그램">
                </a>
              </li>
              <li class="footer-snsitem">
                <a class="footer-snslink" href="javascript:void(0)">
                  <img src="/icons/ico_youtube_lightgrey.svg" alt="유튜브">
                </a>
              </li>
              <li class="footer-snsitem">
                <a class="footer-snslink" href="javascript:void(0)">
                  <img src="/icons/ico_facebook_lightgrey.svg" alt="페이스북">
                </a>
              </li>
              <li class="footer-snsitem">
                <a class="footer-snslink" href="javascript:void(0)">
                  <img src="/icons/ico_kakao_lightgrey.svg" alt="카카오톡">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [E]opilsol-N3 -->
  <script src="/js/setting.js"></script>
  <script src="/js/plugin.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/script.js"></script>
</body>