<!DOCTYPE html>
<html lang="ko">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <title>페이지</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div th:replace="fragments/body_header :: body_header" />

  <div class="blank-EwLpnPM3Jp" data-bid="EwLpnPM3Jp">
    <div class="container"></div>
  </div>
  <div class="blank-EwLpnPM3Jp" data-bid="EwLpnPM3Jp">
    <div class="container"></div>
  </div>
  
  <div>
    <div class="datepicker rental-datepicker"></div>
  </div>
  <script>
    $(function(){
      $('.datepicker').datepicker(
        {
          onSelect: function(dateText, inst) {
            // 모든 날짜 셀의 배경색을 초기화
            $('.ui-state-active').css('backgroundColor', '');

            // 선택한 날짜 셀의 배경색을 빨간색으로 변경
            setTimeout(function() {
                $('.ui-state-active').css('backgroundColor', '#D8D8D8');
            }, 0);
          }
        });
    })
  </script>
  hi.

  <div class="datepicker">
  </div>

  <div th:replace="fragments/footer :: footer" />
  
  <!-- [E]opilsol-N3 -->
  <script src="/js/setting.js"></script>
  <script src="/js/plugin.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/script.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
</body>

