<!DOCTYPE html>
<html lang="ko">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<head th:replace="fragments/header :: header">
  <title>페이지</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div th:replace="fragments/body_header :: body_header" />

  <div style="height:10rem;"></div>
  <main class="th-layout-main ">
    <!-- [S]opilsol-N11 -->
    <div class="opilsol-N11" data-bid="hLlPPF62pn">
      <div class="content-container">
        <div class="container-md">

          <!-- 컨트롤러에서 받아온 unavailableTimes를 data-unavailable-date-times 속성으로 전달 -->
          <div id="availableDateTimes" th:attr="data-available-date-times=${availableTimes}"></div>


          <form th:object="${form}" method="post">
            <div class="content-group" style="height:80rem;">
              <!--start-->
              <div class="juykim-leftbox">
                <div class="juykim-step-text">

                  <h3 class="h3">STEP2. 대여 날짜 정하기</h3>
                  <!-- 달력 들어갈 박스 -->
                  <div class="juykim-calendarbox">
                    <div>
                      <div class="datepicker rental-datepicker"></div>
                    </div>
                    <script th:inline="javascript">

                      $(function(){

                        $.datepicker.setDefaults({ dateFormat: 'yy-mm-dd' });
                        // TODO: 특정 날짜만 활성화
                        var availableTimes = [[${availableTimes}]];

                        $('.datepicker').datepicker(
                          {
                            dateFormat: 'yy-mm-dd',
                            maxDate: '30',
                            minDate: '1',
                            onSelect: function(dateText, inst) {

                              /*
                              $.ajax({
                                url: '/getAvailableTimes', // 서버에 요청할 URL
                                type: 'get',
                                data: { date: dateText }, // 선택된 날짜를 서버에 전달
                                success: function(data) {
                                  // 기존에 출력된 시간을 모두 삭제
                                  $('.time-container').empty();

                                  // 서버로부터 받은 가능한 시간을 출력
                                  data.forEach(function(time) {
                                    $('.time-container').append('<p>' + time + '</p>');
                                  });
                                }

                              */

                              // 모든 날짜 셀의 배경색을 초기화
                              $('.ui-state-active').css('backgroundColor', '');

                              // 선택한 날짜 셀의 배경색을 변경
                              setTimeout(function() {
                                  $('.ui-state-active').css('backgroundColor', '#D8D8D8');
                              }, 0);

                              // 선택한 날짜를 페이지에 출력
                              $('#selectedDateDisplay').text(dateText);

                              $("#selectedDate").val(dateText);

                              $("#userDate").val(dateText);

                            }
                          });
                      })
                    </script>
                  </div>
                </div>
              </div>
              <div class="juykim-rightbox">
                <div class="juykim-step-text">
                  <h3 class="h3">STEP3. 대여 시간 정하기</h3>
                </div>
                <div class="juykim-timebox">
                  <h4 class="h4 juykim-date-text" id="selectedDateDisplay">날짜를 선택해 주세요.</h4>
                  <hr style="border: none; border-top: 1px solid gray;">
                  <input type="hidden" id="selectedDate" name="selectedDate" th:value="${form.selectedDate}">

                  <div class="juykim-timebtnbox">
                    <!-- 테스트 코드 시작-->
                    <!--

                    <div th:each="availableTime : ${availableTimes}" th:if="${availableTime.date eq form.userDate}">
                      해당 객체의 시간 출력
                      <p th:each="time : ${availableTime.times}" th:text="${time}"></p>
                    </div>
                  -->


                    <label class="time-btn">
                      <input type="radio" th:field="*{selectedTime}" value="10">
                      <span>10:00</span>
                    </label>
                    <label class="time-btn">
                      <input type="radio" th:field="*{selectedTime}" value="12">
                      <span>12:00</span>
                    </label>
                    <label class="time-btn">
                      <input type="radio" th:field="*{selectedTime}" value="14">
                      <span>14:00</span>
                    </label>
                    <label class="time-btn">
                      <input type="radio" th:field="*{selectedTime}" value="16">
                      <span>16:00</span>
                    </label>
                    <label class="time-btn">
                      <input type="radio" th:field="*{selectedTime}" value="18">
                      <span>18:00</span>
                    </label>

                  </div>
                </div>
                <div class="juykim-weatherbox">
                </div>
                <div class="juykim-date-confirm">
                  <div class="juykim-rental-in-wrapper">
                    <p class="p1" style="text-align: right;">선택 차량<br></p>
                    <p class="p1" th:text="${type.getName()}">선택 차종 출력<br></p>
                  </div>
                  <!--  아래 버튼 원래 button이었던걸 submit으로 바꿈 -->
                  <button type="submit" class="btnset btnset-lg btnset-mono btnset-line">대여하기</button>
                </div>
              </div>
              <!--end-->
            </div>

          </form>
        </div>

      </div>
    </div>
    <!-- [E]opilsol-N11 -->
  </main>

  <div th:replace="fragments/footer :: footer" />

  <script src="../resources/js/setting.js"></script>
  <script src="../resources/js/plugin.js"></script>
  <script src="../resources/js/template.js"></script>
  <script src="../resources/js/common.js"></script>
  <script src="../resources/js/script.js"></script>
  <script src="../resources/js/jquery-ui.min.js"></script>
</body>